body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #b2bec3;
}

.error {
    color: #FF0001;
}

.login-box {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: #dfe6e9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 16px;
    margin-bottom: 10px;
}

input[type="text"], input[type="email"], input[type="password"], input[type="file"],input[type="date"]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    /* padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}
.searchcity{
    width: 200px;
    display:inline;
}
.searchbt{
    width: 200px;
    display:inline !important;
}

input[type="submit"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #3B3B98;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #182C61;
}

header {
    background-color: #3B3B98;
    color: #fff;
    padding: 0px 25px 0px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 50px;
    text-align: center;
}

h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

button {
    display: inline-block;
    width: 300px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #3B3B98;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #182C61;
}

footer {
    background-color: #ccc;
    color: #333;
    padding: 20px;
    text-align: center;
}
.showdata{
    margin-left: auto;
    margin-right: auto;
}


.searchdiv {
    display: inline-flex;
    width: 300px;
    /* padding: 12px 20px; */
    /* margin: 8px 0; */
    /* border: 1px solid #ccc; */
    /* border-radius: 4px; */
}
.adminTable{
    padding: 20px;
    background-color: #dfe6e9;
    border-radius: 15px;
    width: auto;
}